<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="logic.User" alias="User"/>
		<typeAlias type="logic.Board" alias="Board"/>
		<typeAlias type="logic.Comment" alias="Comment"/>
		<typeAlias type="logic.Daycare" alias="Daycare"/>
		<typeAlias type="logic.Daycare_total" alias="Daycare_total"/>
	</typeAliases>
	<mappers>
		<mapper resource="dao/mapper/UserMapper.xml" />
		<mapper resource="dao/mapper/BoardMapper.xml" />
		<mapper resource="dao/mapper/CommentMapper.xml" />
		<mapper resource="dao/mapper/MapMapper.xml" />
		<mapper resource="dao/mapper/MessageMapper.xml" />
	</mappers>
</configuration>	