<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.BoardMapper">
	<select id="list" resultType="Board" parameterType="map">
		select * from board
		<if test="bnum != null">
			where bnum = #{bnum}
		</if>
		<if test="bType != null">
			where btype = #{bType}
			<if test="filterType != null">
				and head = #{filterType}
			</if>
			<if test="filterType2 != null">
				and mkinds = #{filterType2}
			</if>
			<if test="searchType != null and searchContent!=null">
				and ${searchType} like '%${searchContent}%'
			</if>
			order by regdate desc
		</if>
		<if test="startrow != null and limit != null">
			limit #{startrow},#{limit}
		</if>
	</select>
	<select id="count" resultType="Integer" parameterType="map">
		select count(*) from board
		<if test="bType != null">
			where btype = #{bType}
			<if test="filterType != null">
				and head = #{filterType}
			</if>
			<if test="filterType2 != null">
				and mkinds = #{filterType2}
			</if>
			<if test="searchType != null and searchContent!=null">
				and ${searchType} like '%${searchContent}%'
			</if>
		</if>
	</select>
	<select id="myboard" resultType="board" parameterType="map">
		delete from board
		<if test="bnum != null">
			where bnum in
			<foreach collection="bnum" item="bnum" separator="," open="("
				close=")">
				#{bnum}
			</foreach>
		</if>
	</select>
	<!-- <select id="mylist" resultType="board" parameterType="map">
		select * from board
		<if test="mnum != null">
			where mnum = #{mnum}
		</if>
		<if test="startrow != null and limit != null">
			limit #{startrow},#{limit}
		</if>
	</select> -->
</mapper>
















