<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.CommentMapper">
	<select id="list" resultType="Comment" parameterType="map">
		select * from comment
		<if test="bnum != null">
			where bnum = #{bnum} 
			order by ref, refstep
		</if>
		<if test="startrow != null and limit != null">
			limit #{startrow},#{limit}
		</if>
	</select>
	<select id="mycomment" resultType="Comment" parameterType="map">
		delete from comment
		<if test="bnum != null">
			where bnum in
			<foreach collection="bnum" item="bnum" separator="," open="("
				close=")">
				#{bnum}
			</foreach>
		</if>
	</select>
</mapper>