<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.MapMapper">
	<!-- 후기게시판 구 선택  select -->
	<select id="gulist" resultType="Daycare">
		select gu, code from seoul2 where code > 0 group by gu
	</select>
	<!-- 후기게시판 구 선택시 해당 어린이집 select -->
	<select id="listBygu" resultType="Daycare" parameterType="map">
		select * from seoul2
		<if test="gu != null or gu !=''">
		where gu = '${gu}' order by name asc
		</if>
	</select>
	<!-- 지도 검색 조건 설정 부분 -->
	<select id="list" resultType="Daycare" parameterType="map">
		select * from seoul2 
	<trim prefix="where" prefixOverrides="AND">
		<if test="gu !=null or gu != ''">
			and gu = "${gu}"
		</if>
		<if test="type != null or type != ''">
			and type = "${type}"
		</if>
		<if test="bus != null or bus != ''">
			and bus = "${bus}"
		</if>
	</trim>
	</select>
	
	<select id="one" resultType="Daycare" parameterType="map">
		select * from seoul2 where code = #{code}
	</select>
	<!-- 지도 검색 페이지에 후기 게시물 7개 보여주기 -->
	<select id="threelists" resultType="board" parameterType="map">
		select * from board 
		<if test="code == null">
			where btype = 2 order by regdate desc limit 0,7
		</if>
		<if test="code != null">
		where code = #{code} and btype = 2 order by regdate desc limit 0,7
		</if>
	</select>
	<!-- 서울 평군  -->	
	<select id="getTotal" resultType="Daycare_total">
		select * from seoul2_avg
	</select>
	<select id="getScore_avg" resultType="Double" parameterType="map">
		select sum(b.score)/count(*) as boardscore_avg from (select * from board where code = #{code}) b
	</select>
	<select id="automarker" resultType="Daycare" parameterType="map">  
	<![CDATA[ SELECT *,(6371*acos(cos(radians(#{lat}))*cos(radians(lat))*cos(radians(lon)-radians(#{lon}))+sin(radians(${lat}))*sin(radians(lat)))) AS distance FROM seoul2 HAVING distance <= 1.5 ORDER BY distance LIMIT 0,20 ]]> 
	</select>
		<select id="dcname" resultType="String" parameterType="map">
		select name from seoul2 where code = #{code}
	</select>
</mapper>