<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.MessageMapper">
	<select id="list" resultType="Message" parameterType="map">
		select * from Message 
		<if test="msgnum != null">
			where msgnum = #{msgnum}
		</if>
		<if test="bnum != null">
			where bnum = #{bnum}
		</if>
		<if test="sellnum != null">
			where sellnum = #{sellnum}
		</if>
		order by deal, msgnum desc
	</select>
</mapper>